---
# main task for golang

- name: golang & golang packages are present
  become: "{{ should_be_root }}"

  block:
    - name: Install dep apt package
      when: ansible_os_family in ["Debian",  "Pop!_OS"]
      apt:
        name: go-dep

    - name: Add golang plugin for asdf
      command: "asdf plugin-add golang {{ golang_plugin_url }}"
      register: golang_add
      failed_when: golang_add == 2

    - name: Symlink .default-golang-pkgs
      file:
        src: "{{ dotfiles_home }}/ansible/roles/infrastructure/golang/files/default-golang-pkgs"
        dest: "{{ dotfiles_user_home }}/.default-golang-pkgs"
        state: link

    - name: Install golang versions
      command: asdf install golang {{ item }}
      loop: "{{ golang_versions }}"
      loop_control:
        label: "{{ item }}"

    - name: Set global version for golang to {{ golang_versions[0] }}
      command: asdf global golang {{ golang_versions[0] }}

    - name: Create ~/go directory
      file:
        path: "{{ dotfiles_user_home }}/go"
        state: directory
