---
# debian tasks for dropbox

# - name: Install dependencies for dropbox
#   become: yes
#   apt:
#     name:
#       - curl
#       - python3-gpg
#     state: present
#     update_cache: true

# - name: Set dropbox_download_url fact
#   set_fact:
#     dropbox_download_url: "https://www.dropbox.com/download?dl=packages/ubuntu/dropbox_{{ dropbox_version }}_{{ dropbox_machine_map[ansible_machine] }}.deb"

# - name: Install Dropbox Debian package from the internet
#   apt:
#     deb: "{{ dropbox_download_url }}"
#   become: yes
#   become_user: root
#   become_method: sudo

- name: dropbox is present for debian system
  block:
    - name: Install Dropbox key
      apt_key:
        keyserver: keyserver.ubuntu.com
        id: 1C61A2656FB57B7E4DE0F4C1FC918B335044912E
        state: present

    - name: Install Dropbox repository
      apt_repository:
        repo: deb [arch=i386,amd64] http://linux.dropbox.com/ubuntu/ bionic main
        filename: dropbox
        state: present

    - name: Install Dropbox
      apt:
        name: dropbox
        state: present
