---
# main task for linux-initial-configure

- name: initial configuration for linux
  become: "{{ should_be_root }}"

  block:
    # > ensure vim is default editor
    - name: Install dependencies for zsh
      package:
        name: vim-nox
        state: present

    - name: Symlink .selected_editor
      become_user: "{{ ansible_user_id }}"
      file:
        src: "{{ dotfiles_home }}/roles/infrastructure/linux-initial-configuration/files/selected_editor"
        dest: "{{dotfiles_user_home}}/.selected_editor"
        state: link

    - name: Set vim.nox as editor via update-alternatives
      command: "update-alternatives --set editor /usr/bin/vim.nox"
    # < ensure vim is default editor

    - name: Allowing passwordless sudo
      lineinfile:
        path: "/etc/sudoers"
        line: "{{ ansible_user_id }} ALL=(ALL) NOPASSWD: ALL"

    - name: Modifying capslock behavior to match escape key
      command: 'gsettings set org.gnome.desktop.input-sources xkb-options "[''caps:escape'']"'
  when: ansible_os_family in ["Debian", "Pop!_OS"]
