---
# main tasks for vscode

- name: vscode is present

  block:
    - name: assert supported build
      assert:
        that:
          - "visual_studio_code_build in ('stable', 'insiders')"

    - import_tasks: debian.yml
      become: "{{ should_be_root }}"
      when: ansible_os_family in ["Debian"]

    - import_tasks: mac.yml
      when: ansible_os_family == "Darwin"

    - import_tasks: install-extensions.yml
